<%- include('../partials/header') %>
<!-- navbar -->
<%- include('../partials/categories-navbar') %>

<div class="container">
  <div class="row">
    <div class="col-md-5 m-auto">
      <h1 class="mt-4 mb-4">Forgot your password ?</h1>
      <!-- Flash message -->
	  <p> Set your New password.
		</p>
		
      <% if(typeof message !=='undefined' ) {%>
        <div id="flash-msg" class="alert alert-danger">
          <%= message %>
        </div>

        <%}%>
      <form action="" method="post">
        <div class="form-group">
          <label for="password">New Password<span style="color: red;">*</span></label>
          <input type="password" class="form-control" name="password" id="password" required />
          <input type="hidden" name="user_id" value="<%= user_id._id %>" >
        </div>
        <button type="submit" value="send resend link" class="btn btn-primary button-style">
          Reset
        </button>
      </form>
      
    </div>
  </div>
</div>

<%- include('../partials/footer') %>

