<%- include('../partials/header') %>
    <!-- navbar -->
    <%- include('../partials/categories-navbar') %>

        <style>
            @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

            body {
                background-color: #eee;
                font-family: 'Calibri', sans-serif !important;
            }

            .mt-100 {
                margin-top: 100px;

            }


            .card {
                margin-bottom: 30px;
                border: 0;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                letter-spacing: .5px;
                border-radius: 8px;
                -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
                box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
            }

            .card .card-header {
                background-color: #fff;
                border-bottom: none;
                padding: 24px;
                border-bottom: 1px solid #f6f7fb;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .card-header:first-child {
                border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
            }



            .card .card-body {
                padding: 30px;
                background-color: transparent;
            }

            .btn-primary,
            .btn-primary.disabled,
            .btn-primary:disabled {
                background-color: #4466f2 !important;
                border-color: #4466f2 !important;
            }
        </style>
        <div class="container cart">


            <% if ( userData.cart.item.length>0 ) { %>

                <h2 style="text-align: center; padding-top: 5px; padding-bottom: 5px;">Cart</h2>
                <div class="row">


                    <div class="col-md-11 col-sm-12 m-auto table-responsive">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th style="text-align: left;">Details</th>
                                    <th>&nbsp;</th>
                                    <th>Quantity</th>
                                    <th>&nbsp;</th>
                                    <th>Total</th>
                                    <th>Subtotal</th>
                                    <th>&nbsp;</th>
                                    <th style="text-align: left;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<userData.cart.item.length;i++){%>

                                    <tr class="my-auto">
                                        <td>
                                            <a href="/product?id=<%=userData.cart.item[i].productId%>">
                                                <img src="/imagess/<%= userData.cart.item[i].image %>"
                                                    class="img-small image-fluid" alt="image thumbnail" width="65px"
                                                    height="65px" />
                                            </a>
                                        </td>
                                        <td>
                                            <div class="float-left mb-3">
                                                <a class="title-link"
                                                    href="/product?id=<%=userData.cart.item[i].productId%>">
                                                    <h6 class="text-left">
                                                        <%= userData.cart.item[i].name %>
                                                    </h6>
                                                    <p class="text-left">Product No: <%= userData.cart.item[i].productId
                                                            %>
                                                    </p>
                                            </div>

                                            </a>
                                        </td>
                                        <% if (userData.cart.item[i].quantity != 1) { %>
                                        <td class="text-center">
                                            <a href="/reduce-from-cart?id=<%= userData.cart.item[i].productId %>"><i
                                                    class="fa fa-minus-square" aria-hidden="true"></i></a>
                                        </td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        <td class="text-center">
                                            <p class="qty-display pt-1">
                                                <%= userData.cart.item[i].quantity %>
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <a href="/add-to-cart?id=<%= userData.cart.item[i].productId %>"><i
                                                    class="fa fa-plus-square" aria-hidden="true"></i> </a>
                                        </td>

                                        <td>$ <%= userData.cart.item[i].price %>
                                        </td>
                                        <td>$ <%= userData.cart.item[i].price*userData.cart.item[i].quantity %>
                                        </td>
                                        <td>
                                            <a href="/remove-from-cart?id=<%= userData.cart.item[i].productId %>"
                                                class="btn btn-danger btn-sm button-style-sucess">Remove</a>
                                        </td>
                                        <td>
                                            <a href="/move-to-wishlist?id=<%= userData.cart.item[i].productId %>"
                                                class="btn btn-danger btn-sm button-style-danger">Move to Wishlist</a>
                                        </td>
                                    </tr>

                                    <%} %>


                            </tbody>
                        </table>
                    </div>
                </div>



                <hr>
                <div class="row mt-4 mr-auto">
                    <div class="col-md-11 col-sm-12 m-auto">
                        <h3 style="text-align: right;">Total : $ <%= userData.cart.totalPrice %>
                        </h3>
                    </div>
                </div>
                <div class="row mt-2 mr-auto">
                    <div class="col-md-11 col-sm-12 m-auto">
                        <a href="/checkout?id=<%= userData._id %>" class="btn btn-dark button-style"
                            style="float: right;">Checkout</a>
                        <a href="/empty-cart" class="btn btn-dark button-style-danger" style="float: left;">Remove
                            All</a>
                    </div>
                </div>

                <% } else { %>

                    <div class="container-fluid  mt-100">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card">
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center">
                                            <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                                class="img-fluid mb-4 mr-3">
                                            <h3><strong>Your Cart is Empty</strong></h3>
                                            <h4>Add something to make me happy :)</h4>
                                            <a href="/shop" class="btn btn-primary cart-btn-transform m-3"
                                                data-abc="true">Continue Shopping</a>


                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

        </div>

        <% } %>

            </div>

            <%- include('../partials/footer') %>