<%- include('../partials/__user-head.ejs') %>
<link rel="stylesheet" href="/static/css/index.css">
<title>NFT Arena</title>
</head>


<body>

  <%- include('../partials/__user-nav.ejs') %>
  <%- include('../partials/__user-side-cat.ejs') %>
  <%- include('../partials/__user-cart.ejs') %>
  <%- include('../partials/__user-sidenav.ejs') %>
  <%- include('../partials/__user-mobile.ejs') %>


  <!-- Hero -->
  <section class="home-index-slider slider-arrow slider-dots">

    <!-- left -->
    <div class="banner-part banner-1">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-md-6 col-lg-6">
            <div class="banner-content">
              <h1>free home delivery within 24 hours now.</h1>
              <p>Lorem ipsum dolor consectetur adipisicing elit modi consequatur eaque expedita
                porro
                necessitatibus eveniet voluptatum quis pariatur Laboriosam molestiae architecto
                excepturi</p>
              <div class="banner-btn"><a class="btn btn-inline" href="/shop"><i
                    class="fas fa-shopping-basket"></i><span>shop now</span></a><a class="btn btn-outline"
                  href="/shop"><i class="icofont-sale-discount"></i><span>get offer</span></a></div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="banner-img"><img src="/static/images/home/index/01.png" alt="index"></div>
          </div>

        </div>
      </div>
    </div>

    <!-- right -->
    <div class="banner-part banner-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-6">
            <div class="banner-img"><img src="/static/images/home/index/02.png" alt="index"></div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="banner-content">
              <h1>free home delivery within 24 hours now.</h1>
              <p>Lorem ipsum dolor consectetur adipisicing elit modi consequatur eaque expedita
                porro
                necessitatibus eveniet voluptatum quis pariatur Laboriosam molestiae architecto
                excepturi</p>
              <div class="banner-btn"><a class="btn btn-inline" href="/shop"><i
                    class="fas fa-shopping-basket"></i><span>shop now</span></a><a class="btn btn-outline"
                  href="/shop"><i class="icofont-sale-discount"></i><span>get offer</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <!------------ Category Slider -------------->
  <section class="section suggest-part">
    <div class="container">
      <ul class="suggest-slider slider-arrow">

        <!-- Iterate Categories -->


        <li><a class="suggest-card" href="/shop?category=640bed42ea95b176998c2504"><img
              src="/static/images/category/dairy.jpg" alt="suggest">
            <h5>fdsfs<span>0 items</span></h5>
          </a></li>



        <li><a class="suggest-card" href="/shop?category=640bed4fea95b176998c250f"><img
              src="/static/images/category/dairy.jpg" alt="suggest">
            <h5>dfsfasd<span>0 items</span></h5>
          </a></li>



      </ul>
    </div>
  </section>
  <!---------------- Recently sold products ------------- -->
  <section class="section recent-part">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>recently sold items</h2>
          </div>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

        <!-- Iterate top 10 recently sold -->



      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="section-btn-25">
            <a href="/shop" class="btn btn-outline"><i class="fas fa-eye"></i><span>show more</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!----------------- Newly Added products ----------------->
  <section class="section newitem-part">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-heading">
            <h2>collected new items</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="new-slider slider-arrow">



          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="section-btn-25"><a href="/shop" class="btn btn-outline"><i class="fas fa-eye"></i><span>show
                more</span></a></div>
        </div>
      </div>
    </div>
  </section>

  <!---------- Promotion Ad Banner ----------------->
  <div class="section promo-part">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
          <div class="promo-img"><a href="/shop"><img src="/static/images/promo/home/01.jpg" alt="promo"></a></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
          <div class="promo-img"><a href="/shop"><img src="/static/images/promo/home/02.jpg" alt="promo"></a></div>
        </div>
      </div>
    </div>
  </div>

  <!------------------ TOP 10 Products  ------------------->

  <section class="section niche-part">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Browse by Top 10</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs">
            <li><a href="#top-order" class="tab-link active" data-bs-toggle="tab"><i class="icofont-price"></i><span>top
                  order</span></a></li>
            <li><a href="#top-rate" class="tab-link" data-bs-toggle="tab"><i class="icofont-star"></i><span>top
                  rating</span></a></li>
            <li><a href="#top-disc" class="tab-link" data-bs-toggle="tab"><i class="icofont-sale-discount"></i><span>top
                  discount</span></a></li>
          </ul>
        </div>
      </div>

      <!------------------ First tab: Top 10 most sold per period (10 cards) ----------------->
      <div class="tab-pane fade show active" id="top-order">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">


        </div>
      </div>

      <!------------------ Second tab: Top 10 most rated (10 cards) ----------------->

      <div class="tab-pane fade" id="top-rate">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">



        </div>
      </div>

      <!------------------ Second tab: Top 10 most discounted (10 cards) ----------------->

      <div class="tab-pane fade" id="top-disc">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">



        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-btn-25"><a href="/shop" class="btn btn-outline"><i class="fas fa-eye"></i><span>show
              more</span></a></div>
      </div>
    </div>
    </div>
  </section>

  <!--------------------MODALS-------------------------------------------------->

  <!----------------- Recent sold Product view modal ----------------->


  <!----------------- Newly Added Product view modal ----------------->


  <!----------------- Most Sold Product view modal ----------------->


  <!----------------- Most Rated Product view modal ----------------->



  <!----------------- Most Discounted Product view modal ----------------->



  <!-------------------- End of contents ------------------->

  <section class="intro-part">
    <div class="container">
      <div class="row intro-content">
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon"><i class="fas fa-truck"></i></div>
            <div class="intro-content">
              <h5>free home delivery</h5>
              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
            <div class="intro-content">
              <h5>instant return policy</h5>
              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon"><i class="fas fa-headset"></i></div>
            <div class="intro-content">
              <h5>quick support system</h5>
              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon"><i class="fas fa-lock"></i></div>
            <div class="intro-content">
              <h5>secure payment way</h5>
              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-part">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <div class="footer-widget"><a class="footer-logo" href="#"><img src="/static/images/logo.png" alt="logo"></a>
            <p class="footer-desc">Adipisci asperiores ipsum ipsa repellat consequatur repudiandae
              quisquam
              assumenda dolor perspiciatis sit ipsum dolor amet.</p>
            <ul class="footer-social">
              <li><a class="icofont-facebook" href="#"></a></li>
              <li><a class="icofont-instagram" href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="footer-widget contact">
            <h3 class="footer-title">contact us</h3>
            <ul class="footer-contact">
              <li><i class="icofont-ui-email"></i>
                <p><span>support@example.com</span><span>carrer@example.com</span></p>
              </li>
              <li><i class="icofont-ui-touch-phone"></i>
                <p><span>+120 279 532 13</span><span>+120 279 532 14</span></p>
              </li>
              <li><i class="icofont-location-pin"></i>
                <p>1Hd- 50, 010 Avenue, NY 90001 United States</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="footer-widget">
            <h3 class="footer-title">quick Links</h3>
            <div class="footer-links">
              <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">Best Seller</a></li>
                <li><a href="#">New Arrivals</a></li>
              </ul>
              <ul>
                <li><a href="#">Location</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="footer-widget">
            <h3 class="footer-title">Download App</h3>
            <p class="footer-desc">Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi
              autem
              obcaecati minus ducimus totam reprehenderit exercitationem!</p>
            <div class="footer-app"><a href="#"><img src="/static/images/google-store.png" alt="google"></a><a
                href="#"><img src="/static/images/app-store.png" alt="app"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer-bottom">
            <p class="footer-copytext">&copy; All Copyrights Reserved by <a href="#">Greeny</a></p>
            <div class="footer-card"><a href="#"><img src="/static/images/payment/jpg/01.jpg" alt="payment"></a><a
                href="#"><img src="/static/images/payment/jpg/02.jpg" alt="payment"></a><a href="#"><img
                  src="/static/images/payment/jpg/03.jpg" alt="payment"></a><a href="#"><img
                  src="/static/images/payment/jpg/04.jpg" alt="payment"></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
    integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/vendor/swal/sweetalert2.all.min.js"></script>
  <script src="/static/js/formControl.js"></script>
  <script src="/static/vendor/bootstrap/jquery-1.12.4.min.js"></script>
  <script src="/static/vendor/bootstrap/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/vendor/countdown/countdown.min.js"></script>
  <script src="/static/vendor/niceselect/nice-select.min.js"></script>
  <script src="/static/vendor/slickslider/slick.min.js"></script>
  <script src="/static/vendor/venobox/venobox.min.js"></script>
  <script src="/static/js/nice-select.js"></script>
  <script src="/static/js/countdown.js"></script>
  <script src="/static/js/accordion.js"></script>
  <script src="/static/js/venobox.js"></script>
  <script src="/static/js/slick.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>