<%- include('../partials/header') %>
<!-- navbar -->
<%- include('../partials/categories-navbar') %>

<div class="container">
  <div class="row">
    <div class="col-md-5 m-auto">
      <h1 class="mt-4 mb-4">Login with OTP</h1>
      <!-- Flash message -->

      <% if(typeof message !=='undefined' ) {%>
        <div id="flash-msg" class="alert alert-danger">
          <%= message %>
        </div>

        <%}%>
        <p>Now you can easily login with OTP</p>
        <p>
          <ul>
            <li>Enter OTP recieved on your E-mail</li>
          </ul>
        </p>
      <form action="" method="POST">
        <div class="form-group">
          <label for="email">OTP<span style="color: red;">*</span></label>
          <input type="number" class="form-control" name="otp" id="otp" required />
          <input type="hidden" name="id" value="<%= uData._id %>">
        </div>
        
        <button type="submit" class="btn btn-primary button-style">
          Login
        </button>
      </form>
      <p class="mt-3">
        Don't have an account ?
        <a href="/register">
          <button type="button" class="btn btn-primary btn-sm button-style">
            Sign Up Now
          </button>
        </a>
      </p>
      <p class="mt-3">
        Forgot Password ? Don't Worry! 
        <a href="/forget">
          <button type="button" class="btn btn-primary btn-sm button-style">
            Reset Now
          </button>
        </a>
      </p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>