<%- include('../partials/header') %>
<!-- navbar -->
<%- include('../partials/categories-navbar') %>

<style>
  figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 450px;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}

</style>
<div class="container">

  <!-- Product info -->
  <div class="row mt-4 mb-4">
    <div class="col-md-5 mt-2 mr-2 ml-auto" id="zoomC">
      <div>

        <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/imagess/<%=productDetails.image%>)">
          <img src="/imagess/<%= productDetails.image%>"  class="img-fluid product-img" />
        </figure>
       
      </div>
    </div>
    <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
      <h2> <%= productDetails.name %> </h2>
      <hr />
      <p class="price">Price : $ <%= productDetails.price %></p>
      <p class="lead"> Description: 
        <p> <%= productDetails.description %> </p>
      </p>
      
      <p><strong>Category:</strong><a href="/category?id=<%= productDetails.category._id %>"> <%= productDetails.category.name %> </a></p>
      <p>
        <strong>Author: </strong>
        <a href="/author-products?id=<%= productDetails.author._id %>"><%= productDetails.author.name %> 
          </a>
      </p>
      <p><strong>Product code:</strong> <%= productDetails._id %></p>
      <p><strong>Date added to the store:</strong> <%= productDetails.createdAt %> </p>
      
      <% if (productDetails.stock>0) { %>
        <p class="is-available text-center">Stock : <%= productDetails.stock %></p>
        <% } else { %>
        <p class="text-center" style="background-color: red;">Out Of Stock</p>
      <% } %>
      <a href="/add-to-cart?id=<%= productDetails._id %>" class="btn btn-block btn-secondary mt-2 mb-2 button-style">
        Add to Shopping Cart
      </a>
      <a href="/add-to-wishlist?id=<%= productDetails._id %>" class="btn btn-block btn-secondary mt-3 mb-3 button-style">
        Add to Wishlist
      </a>
      
    </div>
  </div>
</div>

<script>
  function zoom(e){
  var zoomer = e.currentTarget;
  e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
  e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
  x = offsetX/zoomer.offsetWidth*100
  y = offsetY/zoomer.offsetHeight*100
  zoomer.style.backgroundPosition = x + '% ' + y + '%';
}
</script>
<%- include('../partials/footer') %>
