<%- include('../partials/__user-head.ejs') %>
  <link rel="stylesheet" href="/static/css/product-details.css">
  <title>
    <%= productDetails.name %>
  </title>
  </head>

  <body>

    <%- include('../partials/__user-nav.ejs') %>
      <%- include('../partials/__user-side-cat.ejs') %>
        <%- include('../partials/__user-cart.ejs') %>
          <%- include('../partials/__user-sidenav.ejs') %>
            <%- include('../partials/__user-mobile.ejs') %>

              <!-------------- Here starts the actual body --------------------->

              <section class="single-banner inner-section"
                style="background: url(/images/single-banner.jpg) no-repeat center;">
                <div class="container">
                  <h2>
                    <%= productDetails.name %>
                  </h2>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <%= productDetails.name %>
                    </li>
                  </ol>
                </div>
              </section>
              <section class="inner-section">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="details-gallery">


                        <div class="details-label-group">

                          <label class="view-label new">new</label>

                        </div>
                        <ul class="details-preview">

                          <!-------------- iterate through product image --------------------->
                          <li><img src="/imagess/<%= productDetails.image %>" alt="product"></li>
                          <!-------------- /iterate through image --------------------->

                        </ul>

                      </div>
                    </div>
                    <div class="col-lg-6">

                      <div class="details-content">
                        <h3 class="details-name">
                          <%= productDetails.name %>
                        </h3>
                        <div class="details-meta">
                          <p>SKU:<span>
                              <%= productDetails._id %>
                            </span></p>
                        </div>
                        <div class="details-rating">
                          <p>Category:<a href="/category?id=<%= productDetails.category._id %>">
                              <%= productDetails.category.name %>
                            </a></p>
                        </div>

                        <div class="details-rating">
                          <p>Author:<a href="/author-products?id=<%= productDetails.author._id %>">
                              <%= productDetails.author.name %>
                            </a></p>
                        </div>
                        <h3 class="details-price"><span>$ <%= productDetails.price %> </span></h3>
                        <p class="details-desc">
                          <%= productDetails.description %> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Delectus nemo accusantium, distinctio doloribus iste alias amet, asperiores quis eaque
                            labore sit unde hic. Maxime, atque. Repellendus eligendi nemo numquam fuga beatae explicabo
                            molestiae ea perferendis quidem alias voluptatem cum in dicta tempore maxime corporis
                            fugiat, sint laboriosam possimus laudantium hic dolores earum incidunt. Suscipit, atque
                            recusandae sit eum itaque consequuntur.
                        </p>
                        <div class="details-list-group"><label class="details-list-title">tags:</label>
                          <!-- iterate through tags -->
                          <ul class="details-tag-list">

                            <!-- iterate through tags -->
                            <% productDetails.tags.forEach(tag=> { %>
                              <li><a href="/shop?filter=tags&tag=<%= tag %>">
                                  <%= tag %>
                                </a></li>
                              <% }) %>

                          </ul>


                        </div>

                        <div class="details-action-group">

                          <% if (userData) { %>
                            <a href="/add-to-cart?id=<%= productDetails._id %>" title="Add to Cart"><i
                                class="icofont-cart"></i><span>add to cart</span></a>
                            <% } else { %>
                              <button class="product-add" title="Add to Cart">
                                <i class="fas fa-shopping-basket"></i><span>Login to Add</span>
                              </button>
                              <div class="product-action" data-pid="<%= productDetails._id %>" data-action="remove">
                                <p class="text-danger">Please login to use the cart</p>
                              </div>
                              <% } %>
                                <a href="/add-to-wishlist?id=<%= productDetails._id %>" title="Add to Your Wishlist"><i
                                    class="icofont-heart"></i><span>add to wishlist</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="inner-section">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="product-details-frame">
                        <h3 class="frame-title">Description</h3>
                        <div class="tab-descrip">
                          <p>
                            <%= productDetails.description %> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                              Delectus nemo accusantium, distinctio doloribus iste alias amet, asperiores quis eaque
                              labore sit unde hic. Maxime, atque. Repellendus eligendi nemo numquam fuga beatae
                              explicabo molestiae ea perferendis quidem alias voluptatem cum in dicta tempore maxime
                              corporis fugiat, sint laboriosam possimus laudantium hic dolores earum incidunt. Suscipit,
                              atque recusandae sit eum itaque consequuntur.
                          </p>
                        </div>
                      </div>
                      <div class="product-details-frame">
                        <h3 class="frame-title">Specifications</h3>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th scope="row">Product code</th>
                              <td>ID: <%= productDetails._id %>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">Category</th>
                              <td>
                                <%= productDetails.category.name %>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">Author</th>
                              <td>
                                <%= productDetails.author.name %>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">Available From</th>
                              <td>
                                <%= productDetails.createdAt %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="inner-section">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="section-heading">
                        <h2>related items</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                    <!---------- iterate through related items  -->

                   

                    
                    <% relatedProducts.forEach(prod=> { %>
                      <% if(prod._id===productDetails._id) { %>
                        <%= prod._id %>
                        <%= productDetails._id %>
                      <div class="col">
                        <div class="product-card ">
                          <div class="product-media">
                            <div class="product-label">
                              <label class="label-text sale">sale</label>
                            </div>
                            <a href="/add-to-wishlist?id=<%= prod._id%>">
                              <button class="product-wish">
                                <i class="fas fa-heart"></i>
                              </button>
                            </a>
                            <a class="product-image" href="/product?id=<%= prod._id %>">
                              <img src="/imagess/<%= prod.image %>" alt="product">
                            </a>
                            <div class="product-widget">
                              <a title="Product View" href="/product?id=<%=prod._id%>" class="fas fa-eye"></a>

                            </div>
                          </div>
                          <div class="product-content">

                            <h6 class="product-name"><a href="/product?id=<%= prod._id %>"><%= prod.name %></a></h6>
                            <h6 class="product-price"><span>$ <%= prod.price %></span></h6>
                            <h6 class="product-price"><a href="/category?id=<%= prod.category._id %>">Category: <%= prod.category.name %></a></h6>
                            <h6 class="product-price"><a href="/author-products?id=<%= prod.category._id %>">Author: <%= prod.author.name %></a></h6>
                            <a class="product-addNew" title="Add to Cart" href="/add-to-cart?id=<%= prod._id %>">
                              <i class="fas fa-shopping-basket" href=""></i><span>Add</span>
                            </a>

                          </div>
                        </div>
                      </div>

                      <% } %>

                      <% }) %>



                        


                        <!---------- /iterate through related items  -->

                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-btn-25"><a href="/shop" class="btn btn-outline"><i
                            class="fas fa-eye"></i><span>view all related</span></a></div>
                    </div>
                  </div>
                </div>
              </section>





              <section class="intro-part">
                <div class="container">
                  <div class="row intro-content">
                    <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-truck"></i></div>
                        <div class="intro-content">
                          <h5>Instant Blockchain Ownership Transfer</h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
                        <div class="intro-content">
                          <h5>instant return policy</h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-headset"></i></div>
                        <div class="intro-content">
                          <h5>quick support system</h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-lock"></i></div>
                        <div class="intro-content">
                          <h5>secure payment Gateway</h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <footer class="footer-part">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-xl-3">
                      <div class="footer-widget"><a class="footer-logo" href="/"><img src="/static/images/logoFooter.png"
                            alt="logo"></a>
                        <p class="footer-desc">Adipisci asperiores ipsum ipsa repellat consequatur repudiandae
                          quisquam
                          assumenda dolor perspiciatis sit ipsum dolor amet.</p>
                        <ul class="footer-social">
                          <li><a class="icofont-facebook" href="#"></a></li>
                          <li><a class="icofont-instagram" href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                      <div class="footer-widget contact">
                        <h3 class="footer-title">contact us</h3>
                        <ul class="footer-contact">
                          <li><i class="icofont-ui-email"></i>
                            <p><span>support@nftarena.in</span><span>career@nftarena.in</span></p>
                          </li>
                          <li><i class="icofont-ui-touch-phone"></i>
                            <p><span>+91 987 654 3210</span><span>+91 987 654 3210</span></p>
                          </li>
                          <li><i class="icofont-location-pin"></i>
                            <p>Brototype, Kifra IT Park Building, Kakkanchery, Malappuram</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                      <div class="footer-widget">
                        <h3 class="footer-title">quick Links</h3>
                        <div class="footer-links">
                          <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Best Seller</a></li>
                            <li><a href="#">New Arrivals</a></li>
                          </ul>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                      <div class="footer-widget">
                        <h3 class="footer-title">Download App</h3>
                        <p class="footer-desc">Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi
                          autem
                          obcaecati minus ducimus totam reprehenderit exercitationem!</p>
                        <div class="footer-app"><a href="#"><img src="/static/images/google-store.png"
                              alt="google"></a><a href="#"><img src="/static/images/app-store.png" alt="app"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="footer-bottom">
                        <p class="footer-copytext">&copy; All Copyrights Reserved by <a href="#">NFT Arena</a></p>
                        <div class="footer-card"><a href="#"><img src="/static/images/payment/jpg/01.jpg"
                              alt="payment"></a><a href="#"><img src="/static/images/payment/jpg/02.jpg"
                              alt="payment"></a><a href="#"><img src="/static/images/payment/jpg/03.jpg"
                              alt="payment"></a><a href="#"><img src="/static/images/payment/jpg/04.jpg"
                              alt="payment"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
                integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
              <script src="/static/vendor/swal/sweetalert2.all.min.js"></script>
              <script src="/static/js/formControl.js"></script>

              <script src="/static/vendor/bootstrap/jquery-1.12.4.min.js"></script>
              <script src="/static/vendor/bootstrap/popper.min.js"></script>
              <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
              <script src="/static/vendor/countdown/countdown.min.js"></script>
              <script src="/static/vendor/niceselect/nice-select.min.js"></script>
              <script src="/static/vendor/slickslider/slick.min.js"></script>
              <script src="/static/vendor/venobox/venobox.min.js"></script>
              <script src="/static/js/nice-select.js"></script>
              <script src="/static/js/countdown.js"></script>
              <script src="/static/js/accordion.js"></script>
              <script src="/static/js/venobox.js"></script>
              <script src="/static/js/slick.js"></script>
              <script src="/static/js/main.js"></script>
  </body>

  </html>