<%- include('../partials/header') %>
<!-- navbar -->
<%- include('../partials/categories-navbar') %>

<style>
#zoomC {
  /* (A) DIMENSIONS */
  width: auto;
  height: auto;
 
  /* (B) BACKGROUND IMAGE */
  background: url("/imagess/<%= productDetails.image %>");
  background-position: center;
  background-size: contain;
}
</style>

<div class="container">

  <!-- Product info -->
  <div class="row mt-4 mb-4">
    <div class="col-md-5 mt-2 mr-2 ml-auto" id="zoomC">
      <div>
        <img
          src="/imagess/<%= productDetails.image %>"
          class="img-fluid product-img"
          alt="product image"
        />
      </div>
    </div>
    <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
      <h2> <%= productDetails.name %> </h2>
      <hr />
      <p class="price">Price : $ <%= productDetails.price %></p>
      <p class="lead"> Description: 
        <p> <%= productDetails.description %> </p>
      </p>
      
      <p><strong>Category:</strong><a href="/category?id=<%= productDetails.category._id %>"> <%= productDetails.category.name %> </a></p>
      <p>
        <strong>Author: </strong>
        <a href="/author?id=<%= productDetails.author._id %>"><%= productDetails.author.name %> 
          </a>
      </p>
      <p><strong>Product code:</strong> <%= productDetails._id %></p>
      <p><strong>Date added to the store:</strong> <%= productDetails.createdAt %> </p>
      
      <% if (productDetails.stock>0) { %>
        <p class="is-available text-center">Stock : <%= productDetails.stock %></p>
        <% } else { %>
        <p class="text-center" style="background-color: red;">Out Of Stock</p>
      <% } %>
      <a href="/add-to-cart?id=<%= productDetails._id %>" class="btn btn-block btn-secondary mt-2 mb-2 button-style">
        Add to Shopping Cart
      </a>
      <a href="/add-to-wishlist?id=<%= productDetails._id %>" class="btn btn-block btn-secondary mt-3 mb-3 button-style">
        Add to Wishlist
      </a>
      
    </div>
  </div>
</div>

<script>
  // CREDITS : https://www.cssscript.com/image-zoom-pan-hover-detail-view/
var addZoom = target => {
  // (A) GET CONTAINER + IMAGE SOURCE
  let container = document.getElementById(target),
      imgsrc = container.currentStyle || window.getComputedStyle(container, false);
      imgsrc = imgsrc.backgroundImage.slice(4, -1).replace(/"/g, "");
 
  // (B) LOAD IMAGE + ATTACH ZOOM
  let img = new Image();
  img.src = imgsrc;
  img.onload = () => {
    // (B1) CALCULATE ZOOM RATIO
    let ratio = img.naturalHeight / img.naturalWidth,
        percentage = ratio * 100 + "%";
 
    // (B2) ATTACH ZOOM ON MOUSE MOVE
    container.onmousemove = e => {
      let rect = e.target.getBoundingClientRect(),
          xPos = e.clientX - rect.left,
          yPos = e.clientY - rect.top,
          xPercent = xPos / (container.clientWidth / 100) + "%",
          yPercent = yPos / ((container.clientWidth * ratio) / 100) + "%";
 
      Object.assign(container.style, {
        backgroundPosition: xPercent + " " + yPercent,
        backgroundSize: img.naturalWidth + "px"
      });
    };
 
    // (B3) RESET ZOOM ON MOUSE LEAVE
    container.onmouseleave = e => {
      Object.assign(container.style, {
        backgroundPosition: "center",
        backgroundSize: "cover"
      });
    };
  }
};
 
// (C) ATTACH FOLLOW ZOOM
window.onload = () => addZoom("zoomC");
</script>

<%- include('../partials/footer') %>
