<% 
  let shopPrice = locals.shopPrice || null;
  let shopCategory = locals.shopCategory || null;
  let shopRating = locals.shopRating || null;
  let shopSort = locals.shopSort || null;
  let shopLimit = locals.shopLimit || null;
  let shopPage = locals.shopPage || null;
%>

<%- include('../partials/__user-head.ejs') %>
  <link rel="stylesheet" href="/static/css/index.css">
  <title>NFT Arena</title>
  </head>


  <body>

    <%- include('../partials/__user-nav.ejs') %>
      <%- include('../partials/__user-side-cat.ejs') %>
        <%- include('../partials/__user-cart.ejs') %>
          <%- include('../partials/__user-sidenav.ejs') %>
            <%- include('../partials/__user-mobile.ejs') %>


  <!-------------------------------------------- Here Starts the Body ----------------------------------------->


  <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center">
    <div class="container">
      <h2>Shop</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          shop
        </li>
      </ol>
    </div>
  </section>
  <section class="inner-section shop-part">
    <div class="container">

      <div class="row content-reverse">
        <!---- SideBar open ---->
        <div class="col-lg-3">

          <div class="shop-widget">
            <h6 class="shop-widget-title text-center">Clear all filters</h6>
            <!-- <form action="/shop?filter=clear" method="GET"> -->
            <a class="shop-widget-btn" href="/shop">
              <i class="far fa-trash-alt"></i><span>clear filter</span>
            </a>
            <!-- </form> -->
          </div>

          
          <div class="shop-widget">

            <!-- Filter by category -->

            <div class="shop-widget">
              <h6 class="shop-widget-title">Filter by Category</h6>
              <form action="/shop?filter=category" method="GET">
                <ul class="shop-widget-list shop-widget-scroll">

                  <!-- Iterate through category -->

                  <% categoryData.forEach(cat => { %>
                    <li>
                      <div class="shop-widget-content">
                        <input type="radio" name="category" value="<%= cat._id %>" id="<%= cat.name %>" <%= shopCategory && shopCategory.includes(cat._id.toString()) ? "checked" : "" ; %> />
  
                        <label for="<%= cat.name %>"><%= cat.name %></label>
                      </div>
                      <span class="shop-widget-number"><%= cat.count %></span>
                    </li>
                    <% }) %>


                </ul>
                <button class="shop-widget-btn" type="submit">
                  <i class="fas fa-search"></i><span>search</span>
                </button>
              </form>
            </div>
          </div>

          <div class="shop-widget">

            <!-- Filter by author -->

            <div class="shop-widget">
              <h6 class="shop-widget-title">Filter by Author</h6>
              <form action="/shop?filter=author" method="GET">
                <ul class="shop-widget-list shop-widget-scroll">
                  <!-- Iterate through category -->

                  <% authorData.forEach(cat => { %>
                    <li>
                      <div class="shop-widget-content">
                        <input type="radio" name="author" value="<%= cat._id %>" id="<%= cat.name %>" <%= shopCategory && shopCategory.includes(cat._id.toString()) ? "checked" : "" ; %> />
  
                        <label for="<%= cat.name %>"><%= cat.name %></label>
                      </div>
                      <span class="shop-widget-number"><%= cat.count %></span>
                    </li>
                    <% }) %>


                </ul>
                <button class="shop-widget-btn" type="submit">
                  <i class="fas fa-search"></i><span>search</span>
                </button>
              </form>
            </div>
          </div>

          <!-- Filter by price -->
          <div class="shop-widget">
            <h6 class="shop-widget-title">Filter by Price</h6>
            <form action="/shop?filter=price" method="GET">
              <div class="shop-widget-group">
                <label for="price">Minimum</label>
                <label for="price">Maximum</label>
                <input type="number" min="0" name="price" value="0" placeholder="Min - 00" />
                <input type="number" name="price" value="5000" placeholder="Max - 10k" />
              </div>
              <button class="shop-widget-btn" type="submit">
                <i class="fas fa-search"></i><span>search</span>
              </button>
            </form>
          </div>
          

        </div>
        <!---- SideBar Close ---->


        <!------------ Content Top  ------------>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-12">
              <div class="top-filter">
                <div class="filter-show">

                  <label class="filter-label">Show :</label>
                  <select name="page" onchange="location = this.value;" class="form-select filter-select">
                    <option value="/shop?limit=12" selected>12</option>
                    <option value="/shop?limit=24">24</option>
                    <option value="/shop?limit=36">36</option>
                  </select>

                </div>
                <div class="filter-short">

                  <label class="filter-label">Sort by :</label>
                  <select name="sort" onchange="location = this.value;" class="form-select filter-select">
                    <option value="/shop?sort=newly-added" selected>newly added</option>
                    <option value="/shop?sort=price-ascending">price (low-high)</option>
                    <option value="/shop?sort=price-descending">price (high-low)</option>
                    <option value="/shop?sort=popular">popular</option>
                  </select>

                </div>

              </div>
            </div>
          </div>


          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">

            <!-- Iterate through products -->
            <!-- EJS Loop -->

            <% pageProducts.forEach(prod => { %>



            <div class="col">
              <div class="product-card ">
                <div class="product-media">


                  <div class="product-label">
                    <label class="label-text rate">New</label>
                  </div>
                  <a href="/add-to-wishlist?id=<%= prod._id%>">
                    <button class="product-wish">
                      <i class="fas fa-heart"></i>
                    </button>
                  </a>
                  <a class="product-image" href="/product?id=<%=prod._id%>">
                    <img src="/imagess/<%= prod.image  %>" alt="product">
                  </a>
                  <div class="product-widget">
                    <a title="Product View" href="/product?id=<%=prod._id%>" class="fas fa-eye"></a>
                  </div>
                </div>
                <div class="product-content">


                  <h6 class="product-name"><a href="/product?id=<%= prod._id %>">
                      <%= prod.name %>
                    </a></h6>
                  <h6 class="product-price"><span>$ <%= prod.price %></span></h6>


                  <a class="product-addNew" title="Add to Cart" href="/add-to-cart?id=<%= prod._id %>">
                    <i class="fas fa-shopping-basket" href=""></i><span>Add</span>
                  </a>


                </div>
              </div>
            </div>

            <% }) %>


            <!-- EJS Loop -->
            <!-- /Iterate through products -->

          </div>

          <!-- Pagination -->

          <div class="row">
            <div class="col-lg-12">
              <div class="bottom-paginate">
                <p class="page-info">Showing 2 of 2 Results</p>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/shop?page=1"><i class="fas fa-long-arrow-alt-left"></i></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link active" href="/shop?page=1">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/shop?page=2">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/shop?page=3">3</a>
                  </li>
                  <li class="page-item">...</li>
                  <li class="page-item">
                    <a class="page-link" href="/shop?page=0">0</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/shop?page=2"><i class="fas fa-long-arrow-alt-right"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </section>
  <!-- EJS Loop -->



  <%- include('../partials/__user-features.ejs') %>
  <%- include('../partials/__user-footer.ejs') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
    integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/vendor/swal/sweetalert2.all.min.js"></script>
  <script src="/static/js/formControl.js"></script>
  <script src="/static/vendor/bootstrap/jquery-1.12.4.min.js"></script>
  <script src="/static/vendor/bootstrap/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/vendor/countdown/countdown.min.js"></script>
  <script src="/static/vendor/niceselect/nice-select.min.js"></script>
  <script src="/static/vendor/slickslider/slick.min.js"></script>
  <script src="/static/vendor/venobox/venobox.min.js"></script>
  <script src="/static/js/nice-select.js"></script>
  <script src="/static/js/countdown.js"></script>
  <script src="/static/js/accordion.js"></script>
  <script src="/static/js/venobox.js"></script>
  <script src="/static/js/slick.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>