<%- include('../partials/header') %>
    <!-- navbar -->
    <%- include('../partials/categories-navbar') %>

    <style>
        @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important;
}

.mt-100{
   margin-top:100px;

}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #4466f2!important;
    border-color: #4466f2!important;
}
    </style>

        <div class="container cart">

            <% if ( wishListData.item.length >0 ) { %>

            <h2 style="text-align: center; padding-top: 5px; padding-bottom: 5px;">Wishlist</h2>
            <div class="row">
                <div class="col-md-11 col-sm-12 m-auto table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th style="text-align: left;">Details</th>
                                <th>Price</th>
                                
                                <th>&nbsp;</th>
                                <th style="text-align: left;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% wishListData.item.forEach(eachItem=>{%>
                                <tr class="my-auto">
                                    <td>
                                        <a href="/product?id=<%=eachItem.productId._id%>
                                            ">
                                            <img src="/imagess/<%= eachItem.productId.image %>"
                                                class="img-small image-fluid" alt="image thumbnail" width="65px"
                                                height="65px" />
                                        </a>
                                    </td>
                                    <td>
                                        <div class="float-left mb-3">
                                            <a class="title-link"
                                                href="/product?id=<%=eachItem.productId._id%>">
                                                <h6 class="text-left"><%= eachItem.productId.name %></h6>
                                                <p class="text-left">Product No: <%= eachItem.productId._id %></p>
                                        </div>

                                        </a>
                                    </td>
                                    
                                    <td>$ <%= eachItem.productId.price %></td>
                                    <td>
                                        <a href="/remove-from-wishlist?id=<%= eachItem.productId._id %>"
                                            class="btn btn-danger btn-sm button-style-sucess">Remove</a>
                                    </td>
                                    <td>
                                        <a href="/move-to-cart?id=<%= eachItem.productId._id %>"
                                            class="btn btn-danger btn-sm button-style-danger">Move to Cart</a>
                                    </td>
                                </tr>

                              <%}) %> 


                        </tbody>
                    </table> 
                </div>
            </div>
            <hr>
            <div class="row mt-4 mr-auto">
                <div class="col-md-11 col-sm-12 m-auto">
                    <h3 style="text-align: right;">Total : $
                        <% let total=0 %>
                        <% wishListData.item.forEach(eachItem=>{%>
                            <% total += eachItem.productId.price %>
                        <%}) %> 
                        <%= total %>


                    </h3>
                </div>
            </div>
            <div class="row mt-2 mr-auto">
                <div class="col-md-11 col-sm-12 m-auto">
                    <!-- <a href="/checkout" class="btn btn-dark button-style" style="float: right;">Checkout</a> -->
                    <a href="/empty-wishlist" class="btn btn-dark button-style-danger" style="float: right;">Remove All</a>
                </div>
            </div>

            <% } else { %>
                <div class="container-fluid  mt-100">
                    <div class="row">
                    
                       <div class="col-md-12">
                       
                               <div class="card">
                           <div class="card-body cart">
                                   <div class="col-sm-12 empty-cart-cls text-center">
                                       <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                       <h3><strong>Your Wishlist is Empty.</strong></h3>
                                       <h4>Buy something to make me happy :)</h4>
                                       <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue Shopping</a>
                                       
                                   
                                   </div>
                           </div>
                   </div>
                           
                       
                       </div>
                    
                    </div>
                   
                   </div>
            <% } %>
        </div>

        <%- include('../partials/footer') %>