<%- include('../partials/__user-head.ejs') %>
  <link rel="stylesheet" href="/static/css/wishlist.css">
  <title>Wishlist | NFT Arena</title>
  </head>


  <body>

    <%- include('../partials/__user-nav.ejs') %>
      <%- include('../partials/__user-side-cat.ejs') %>
        <%- include('../partials/__user-cart.ejs') %>
          <%- include('../partials/__user-sidenav.ejs') %>
            <%- include('../partials/__user-mobile.ejs') %>